:root{
	--dark-blue: #002c40;
	--red: #ef2345;
	--space-green: #38ab9e;
	--white: #FFFFFF;
	--light-grey: #f1f1f1;
	--dark-grey: #bdc3c7;
}

::selection {
  background: var(--space-green); /* WebKit/Blink Browsers */
  color: var(--white);
}
::-moz-selection {
  background: var(--space-green); /* Gecko Browsers */
  color: var(--white);
}

h1 {
	font-family: "ailerons", sans-serif;
	color: var(--dark-blue);
	font-size: 3.8em;
	letter-spacing: -0.2em;
}

h2 {
	font-family: "ailerons", sans-serif;
	font-size: 2.6em;
	letter-spacing: -0.2em;
	color: var(--red);
	margin-bottom: 1rem;
}

h3 {
	font-family: 'Dosis', sans-serif;
	color: var(--dark-blue);
	font-size: 1.3em;
	text-transform: uppercase;
	letter-spacing: 0.6em;
}

h4 {
	font-family: 'Dosis', sans-serif;
	color: var(--dark-blue);
	font-weight: 600;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	line-height: 1.4em;
}

p {
	font-family: 'Dosis', sans-serif;
	font-size: 1em;
	color: var(--dark-blue);
	line-height: 1.6em;
	text-align: justify;
	letter-spacing: 0.04em;
}

.bg-header {
	position: absolute;
	background-color: #1e2142;
	height: 213px;
	width: 100%;
	z-index: -1;
}

header {
	background-image: url(../img/topo_espacial.jpg);
	height: 380px;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

.resume {
	display: none;
}

@media screen and (min-width: 768px){
	.resume {
		display: unset;
	}
}

@media screen and (min-width: 768px){
	.info-header {
		padding-top: 4em;
	}
}

.avatar-nery {
	margin-top: 1.4em;
}

.avatar-nery img {
	width: 100%;
	max-width: 332px;
	height: 100%;
	max-height: 332px;
}

@media screen and (min-width: 1000px){
	.info-header h4, .info-header h1 {color: #FFFFFF}
}

@media screen and (min-width: 333px){
	.avatar-nery {margin-top: 1em;}
}	

@media screen and (min-width: 350px){
	.avatar-nery {margin-top: 0em;}
}	

@media screen and (min-width: 768px){
	.avatar-nery img {margin-top: -6em;}
}

progress {
	background-color: var(--light-grey);
	border: 0;
	height: 2px;
	border-radius: 2px;	
}
progress::-webkit-progress-bar {
	background-color: var(--light-grey);
	border: 0;
	height: 2px;
	border-radius: 2px;
}
progress::-webkit-progress-value {
	background-color: var(--red);
	border: 0;
	height: 2px;
	border-radius: 2px;
}
progress::-moz-progress-bar {
	background-color: var(--light-grey);
	border: 0;
	height: 2px;
	border-radius: 2px;
}

.name-space-a {
	margin: 20px 0 12px -15px;
}

.name-space-b {
	margin-bottom: 16px;
}

.name-space-c {
	margin-left: 2px;
}

.name {
	display: flex;
	flex-direction: column;
}